.navBarLogo {
  margin-top: 0px;
}

.search-input {
  width: 450px !important;
  border-radius: 20px 0px 0px 20px !important;
}

.search-button {
  border-radius: 0px 20px 20px 0px !important;
  background-color: #6c757d38 !important;
  width: 60px !important;
}

.topBarRight {
  width: 150px !important;
}

.author-icon {
  border: 0px solid;
  border-radius: 50%;
  margin-right: 15px;
}

.subscription-counter {
  margin-bottom: 0;
  font-size: 12px;
  color: #676869fa;
}

.author-name {
  margin-bottom: 0;
}

.auhor-box {
  margin-right: 25px;
}

.subscribe-btn {
  border: 0px solid !important;
  border-radius: 20px 20px 20px 20px !important;
  background-color: #6c757d38 !important;
  color: #0c0c0c !important;
  font-weight: 600 !important;
}

.sub-icon {
  margin-right: 15px;
}

.like-dislike {
  margin-right: 10px;
}

.like {
  color: #0c0c0c !important;
  background-color: #6c757d38 !important;
  border: 0px solid !important;
  border-radius: 20px 0px 0px 20px !important;
}

.dislike {
  color: #0c0c0c !important;
  background-color: #6c757d38 !important;
  border: 0px solid !important;
  border-radius: 0px 20px 20px 0px !important;
}

.share {
  color: #0c0c0c !important;
  background-color: #6c757d38 !important;
  border: 0px solid !important;
  border-radius: 20px 20px 20px 20px !important;
  margin-right: 10px;
}

.more {
  color: #0c0c0c !important;
  background-color: #6c757d38 !important;
  border: 0px solid !important;
  border-radius: 50px 50px !important;
  margin-right: 10px;
}

.description-box {
  color: #0c0c0c !important;
  background-color: #6c757d38 !important;
  border: 0px solid !important;
  border-radius: 12px !important;
  padding: 25px;
  margin-top: 15px;
}

.video-list-section {
  padding: 0px !important;
}

.videoItemList {
  list-style: none;
}

.video-item-card {
  border: none !important;
  margin: 0px;
  padding: 0px;
}

.video-card-img img {
  border-radius: 10px;
}

.card-body {
  padding: 0px !important;
}
.card-text {
  font-size: 12px !important;
}
